.Counter input {
  font-size: 1.4rem;
  width: 60px;
}

.Counter button {
  background-color: #4040af;
  border-radius: 50%;
  color: #fff;
  font-size: 1.4rem;
  height: 30px;
  margin: 15px;
  width: 30px;
}
