aside.menu-area {
  background-color: var(--bg-dark);
  box-shadow: 2px 0px 10px 0 rgba(0, 0, 0, 0.12), 2px 0px 15px 0 rgba(0, 0, 0, 0.09);
}

.menu a {
  color: #ffffff;
  display: block;
  font-weight: 130;
  padding: 15px;
  text-decoration: none;
}

.menu a:hover {
  background: linear-gradient(135deg, #07a7e3 0%, #32dac3 100%);
  color: #ffffff;
}

@media(max-width: 768px) {
  .menu {
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 100%;
  }

  .menu a {
    display: inline;
    padding: 10px;
    margin: 0px;
  }
}
